@font-face {
	font-family:'CPMono';
	src: url('../fonts/CPMono_v07Plain.eot');
	src: url('../fonts/CPMono_v07Plain.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CPMono_v07Plain.woff2') format('woff2'),
		url('../fonts/CPMono_v07Plain.woff') format('woff'),
		url('../fonts/CPMono_v07Plain.svg#CPMono_v07Plain') format('svg');
	font-weight: 400;
}
@font-face {
	font-family:'CPMono';
	src: url('../fonts/CPMono_v07Light.eot');
	src: url('../fonts/CPMono_v07Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CPMono_v07Light.woff2') format('woff2'),
		url('../fonts/CPMono_v07Light.woff') format('woff'),
		url('../fonts/CPMono_v07Light.svg#CPMono_v07Light') format('svg');
	font-weight: 300;
}
@font-face {
	font-family:'CPMono';
	src: url('../fonts/CPMono_v07ExtraLight.eot');
	src: url('../fonts/CPMono_v07ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CPMono_v07ExtraLight.woff2') format('woff2'),
		url('../fonts/CPMono_v07ExtraLight.woff') format('woff'),
		url('../fonts/CPMono_v07ExtraLight.svg#CPMono_v07ExtraLight') format('svg');
	font-weight: 200;
	}
@font-face {
	font-family:'CPMono';
	src: url('../fonts/CPMono_v07Bold.eot');
	src: url('../fonts/CPMono_v07Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CPMono_v07Bold.woff2') format('woff2'),
		url('../fonts/CPMono_v07Bold.woff') format('woff'),
		url('../fonts/CPMono_v07Bold.svg#CPMono_v07Bold') format('svg');
	font-weight: 600;
}
@font-face {
	font-family:'CPMono';
	src: url('../fonts/CPMono_v07Black.eot');
	src: url('../fonts/CPMono_v07Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CPMono_v07Black.woff2') format('woff2'),
		url('../fonts/CPMono_v07Black.woff') format('woff'),
		url('../fonts/CPMono_v07Black.svg#CPMono_v07Black') format('svg');
	font-weight: 900;
}

::selection {
	background: rgba(37, 37, 37, 1);
	color: #ffffff;
}
::-moz-selection {
	background: rgba(37, 37, 37, 1);
	color: #ffffff;
}


* {
	margin: 0;
	padding: 0;
	outline: 0 none;
	border: none;
}
li {
	list-style: none outside none;
}
html, body {
	border: 0 none;
}
html {
	height: 100%;
	-webkit-text-size-adjust: none;
}

body {
	font-size: 14px;
	color: #ffffff;
	background: #101010;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
	font-family: 'CPMono', sans-serif;
}

input {
	-webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body.prevent-scroll {
	overflow: hidden;
}
body.prevent-scroll .page-wrapper {

}

a {
	text-decoration: none;
}
a[is="inner-link"].active {
	cursor: default;
}

.page-wrapper {
	display: block;
	position: relative;
	overflow: hidden;
	min-width: 320px;
	color: #ffffff;
	transition: color 0.2s;
}
.page-wrapper[data-scheme="bright"] {
	color: #252525;
}
.show320 {
	display: block !important;
}
.show640 {
	display: none !important;
}
.show320.show640 {
	display: block !important;
}
.show1000 {
	display: none !important;
}
.show640.show1000 {
	display: none !important;
}
span.show320 {
	display: inline !important;
}
span.show640 {
	display: none !important;
}
span.show320.show640 {
	display: inline !important;
}
span.show1000 {
	display: none !important;
}
span.show640.show1000 {
	display: none !important;
}
@media screen and (min-width: 640px) {
	.show320 {
		display: none !important;
	}
	.show320.show640 {
		display: block !important;
	}
	.show640 {
		display: block !important;
	}
	.show640.show1000 {
		display: block !important;
	}
	span.show320 {
		display: none !important;
	}
	span.show320.show640 {
		display: inline !important;
	}
	span.show640 {
		display: inline !important;
	}
	span.show640.show1000 {
		display: inline !important;
	}
}
@media screen and (min-width: 1000px) {
	.show320.show640 {
		display: none !important;
	}
	.show640 {
		display: none !important;
	}
	.show1000 {
		display: block !important;
	}
	.show640.show1000 {
		display: block !important;
	}
	span.show320.show640 {
		display: none !important;
	}
	span.show640 {
		display: none !important;
	}
	span.show1000 {
		display: inline !important;
	}
	span.show640.show1000 {
		display: inline !important;
	}
}

header {
	position: static;
	width: 10%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 200;
}
header .logo {
	position: absolute;
	left: 20px;
	top: 23px;
	width: 31px;
	height: 33px;
	background-repeat: no-repeat;
	z-index: 200;
}
header .logo svg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
header .logo g {
	isolation:isolate;
}
header .logo .cls-1 {
	fill: #e2e2e2;
	stroke: none;
	transition: fill 0.2s;
}
.page-wrapper[data-scheme="bright"] header .logo .cls-1 {
	fill: #252525;
}
@media screen and (min-width: 640px) {
	header .logo {
		left: 40px;
		top: 40px;
	}
}
@media screen and (min-width: 1000px) {
	header {
		position: fixed;
		transform: translateZ(0px);
	}
	header .logo {
		left: calc(50% - 15px);
		top: 38px;
	}
}

header .title {
	position: absolute;
	bottom: 55px;
	left: 50%;
	font-size: 14px;
	letter-spacing: 0.05em;
	transform: rotate(-90deg) translateY(0.5px) translateZ(0px);
	transform-origin: 0 50%;
	bottom: 55px;
	transform: rotate(-90deg);
	transform-origin: 0 50%;
	display: none;
}
@media screen and (min-width: 1000px) {
	header .title {
		display: block;
	}
}
button {
	display: inline-block;
	background: none;
	border: none;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	cursor: pointer;
	font-family: 'CPMono', sans-serif;
	font-size: 14px;
	color: #ffffff;
}
@keyframes blink {
	0% {
	 	opacity: 0;
	}
	33% {
		opacity: 0;
	}
	66% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
.btn {
	transition: color 0.2s;
	position: relative;
	color: #ffffff;
}
.btn:before {
	content: "";
	position: absolute;
	left: -2px;
	top: -4px;
	width: 0;
	bottom: -3px;
	z-index: -1;
	vertical-align: bottom;
	background: #ffffff;
	transition: all 0.4s;
	opacity: 0.95;
	transition-timing-function: cubic-bezier(0.9, 0, 0.4, 1);
}
.btn:after {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	right: 8px;
	height: 100%;
	width: 11px;
	background: #252525;
	z-index: 2;
	opacity: 0;
	transition: opacity 0.2s ease 0.1s;
	box-shadow: 0 0 2px #252525;
}
.btn.big:after {
	right: 16px;
	width: 18px;
}
.no-touchevents .btn:hover {
	color: #252525;
}
.no-touchevents .btn:hover:before {
	width: calc(100% + 6px);
	transition: all 0.15s;
}
.no-touchevents .btn:hover:after {
	opacity: 1;
	animation: blink 0.5s infinite alternate;
	-webkit-animation: blink 0.5s infinite alternate;
}
@-moz-document url-prefix() {
	.btn:before {
		left: -1px;
		top: -3px;
		bottom: -2px;
	}
	.btn:after {
		right: 11px;
		top: 1px;
		height: calc(100% - 2px);
	}
	.btn.big:after {
		right: 19px;
	}
}
.page-wrapper[data-scheme="bright"] .cart .btn,
.btn.dark {
	color: #252525;
}
.page-wrapper[data-scheme="bright"] .cart .btn:before,
.btn.dark:before {
	background: #142229;
}
.btn.dark:after,
.page-wrapper[data-scheme="bright"] .cart .btn:after {
	background: #ffffff;
	box-shadow: 0 0 2px #ffffff;
}
.no-touchevents .btn.dark:hover,
.no-touchevents .page-wrapper[data-scheme="bright"] .cart .btn:hover {
	color: #ffffff;
}

.menu-btn {
	position: fixed;
	width: 45px;
	height: 45px;
	right: 10px;
	top: 18px;
	cursor: pointer;
	transform: translateZ(0px);
	z-index: 200;
}
@media screen and (min-width: 640px) {
	.menu-btn {
		right: 30px;
		top: 32px;
	}
}
@media screen and (min-width: 1000px) {
	.menu-btn {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
}
.menu-btn .b {
	position: absolute;
	background-color: #ffffff;
	transition: all 0.1s ease 0s, background-color 0.1s ease 0s, transform 0s ease 0.1s;
}
.page-wrapper[data-scheme="bright"] .menu-btn .b {
	background-color: #252525;
}
.menu-btn .b1,
.menu-btn .b2,
.menu-btn .b3 {
	width: 22px;
	height: 2px;
	left: 0;
	right: 0;
	margin: auto;
}
.menu-btn .b4,
.menu-btn .b5,
.menu-btn .b6 {
	width: 2px;
	height: 22px;
	top: 0;
	bottom: 0;
	margin: auto;
	opacity: 0;
	transform: scaleY(1.5);
}
.menu-btn .b1 {
	top: 15px;
	transform: scaleY(1);
	transition: all 0.5s ease 0s, background-color 0.1s ease 0s;
}
.menu-btn .b2 {
	top: 21px;
}
.menu-btn .b3 {
	top: 27px;
	transform: scaleY(1);
	transition: all 0.5s ease 0s, background-color 0.1s ease 0s;
}	
.menu-btn .b4 {
	left: 15px;
}
.menu-btn .b5 {
	left: 21px;
}
.menu-btn .b6 {
	left: 27px;
}
/*.menu-btn:hover .b1,
.menu-btn:hover .b3,
.menu-btn.active .b1,
.menu-btn.active .b3 {
	opacity: 0;
	transform: scaleX(1.5);
	transition: all 0s ease 0s, background-color 0.1s ease 0s;
}
.menu-btn:hover .b5,
.menu-btn.active .b5,
.menu-btn.active .b4,
.menu-btn.active .b6 {
	opacity: 1;
	transform: scaleY(1);
	transition: all 0.5s ease 0s, background-color 0.1s ease 0s;
}
.menu-btn.active .b2 {
	opacity: 0;
}*/


.content {
	will-change: opacity;
	transition: opacity 0.2s linear 0s;
	opacity: 1;
}
.no-touchevents.webgl .page-wrapper[data-popup="active"] .content {
	opacity: 0;
	transition: opacity 0.2s linear 0s;
}

.cart {
	position: fixed;
	right: 18px;
	bottom: 20px;
	z-index: 100;
	transform: translateZ(0px);
}
@media screen and (min-width: 640px) {
	.cart {
		right: 40px;
		bottom: 40px;
	}
}
@media screen and (min-width: 1000px) {
	.cart {
		right: 4.2%;
		top: 54px;
		display: block;
	}
}

.wrapper {
	width: calc(100% - 40px);
	margin: 0 auto;
	position: relative;
}
.left-wrapper {
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
	height: 100%;
}
@media screen and (min-width: 640px) {
	.wrapper {
		width: calc(100% - 80px);
	}
	.left-wrapper {
		margin-left: 40px;
		margin-right: 40px;
	}
}
@media screen and (min-width: 1000px) {
	.wrapper {
		width: 80%;
	}
	.left-wrapper {
		margin-left: 10%;
		margin-right: 33%;
	}
}

stage-component,
.stage-fallback {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 0;
	display: none;
}
.stage-fallback {
	display: block;
}
popup-component .stage-fallback {
	position: absolute;
}
.no-touchevents.webgl stage-component {
	display: block;
}
.no-touchevents.webgl .stage-fallback {
	display: none;
}

.stage-fallback {
	background: url(../images/bg-dark.jpg);
	background-size: cover;
	background-position: center;
}

.menu-popup {
	z-index: 50;
}
.menu-popup .popup-cell {
	text-align: center;
}
.menu {
	padding-top: 50px;
	padding-bottom: 50px;
	display: inline-block;
	text-align: left;
}
.menu .item {
	display: block;
}
.menu .item a {
	color: #ffffff;
	font-size: 50px;
	font-weight: 400;
	letter-spacing: -0.05em;
	line-height: 1.15;
}
.menu .item {
	opacity: 0;
	transform: translateY(7px);
	transition: opacity 0s ease 0.2s, transform 0s ease 0.2s;
}
.menu-popup.active .menu .item {
	opacity: 1;
	transform: translateY(0px);
	transition: opacity 0.2s ease 0s, transform 0.2s ease 0s;
}
.menu-popup.active .menu .item:nth-child(1) {
	transition-delay: 0.2s;
}
.menu-popup.active .menu .item:nth-child(2) {
	transition-delay: 0.275s;
}
.menu-popup.active .menu .item:nth-child(3) {
	transition-delay: 0.35s;
}
.menu-popup.active .menu .item:nth-child(4) {
	transition-delay: 0.425s;
}
.menu-popup.active .menu .item:nth-child(5) {
	transition-delay: 0.5s;
}
@media screen and (min-width: 640px) {
	.menu {
		display: block;
		padding: 0;
		position: absolute;
		left: 40px;
		bottom: 40px;
	}
	.menu .item a {
		font-size: 60px;
		line-height: 1;
	}
}
@media screen and (min-width: 1000px) {
	.menu {
		left: 10%;
		bottom: 50px;
	}
}

menu-text {
	display: inline-block;
	position: relative;
}
menu-text .glitch-fake {
	opacity: 0;
}
menu-text .glitch-start {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	z-index: 1;
	overflow: hidden;
}
menu-text .glitch-start span {
	position: absolute;
	right: 0;
}
menu-text .glitch-animation {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	overflow: hidden;
	z-index: 2;
}
menu-text .glitch-final {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0px;
	color: #252525;
	overflow: hidden;
	width: 0;
	z-index: 3;
}
menu-text:before {
	content: "";
	position: absolute;
	left: -7px;
	right: -20px;
	top: 0;
	bottom: 0;
	background: #ffffff;
	z-index: 0;
	transform: scaleX(0);
	transform-origin: 0 0;
	transition: all 0.3s ease;
}
menu-text .glitch-final {
	width: 0%;
	transition: all 0.3s ease;
}
.no-touchevents menu-text:hover:before,
a.active menu-text:before {
	transition: all 0.3s cubic-bezier(0.9, 0, 0.4, 1) 0.2s;
	transform: scaleX(1);
}
.no-touchevents menu-text:hover .glitch-start,
a.active menu-text .glitch-start {
	transition: all 0.3s steps(5);
	width: 0;
}
.no-touchevents menu-text:hover .glitch-animation,
a.active menu-text .glitch-animation {
	transition: all 0.3s steps(5);
	width: 100%;
}
.no-touchevents menu-text:hover .glitch-final,
a.active menu-text .glitch-final {
	transition: all 0.3s cubic-bezier(0.9, 0, 0.4, 1) 0.35s;
	width: 100%;
}
menu-text canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	pointer-events: none;
}
a.active menu-text canvas {
	display: block;
}

.menu-fake {
	color: #252525;
	font-size: 50px;
	line-height: 1.15;
	letter-spacing: -0.05em;
}
.menu-fake:before {
	content: "";
	position: absolute;
	left: -7px;
	right: -20px;
	top: 0;
	bottom: 0;
	background: #ffffff;
	z-index: 0;
	transition: all 0.3s ease;
	transform-origin: 100% 0;
	transform: scaleX(1);
	z-index: -1;
}
.menu-fake div,
.menu-fake div:before {
	position: absolute;
	width: 100%;
	height: 100%;
	right: 0;
	top: 0;
	overflow: hidden;
}
.menu-fake div:before {
	content: attr(data-text);
	position: absolute;
	right: 0;
	width: auto;
}

.menu-fake.hide:before {
	transform: scaleX(0);
	transition: all 0.3s cubic-bezier(0.9, 0, 0.4, 1) 0.2s;
}
.menu-fake.hide div {
	width: 0;
	transition: all 0.3s cubic-bezier(0.9, 0, 0.4, 1) 0s;
}
@media screen and (min-width: 640px) {
	.menu-fake {
		font-size: 60px;
		line-height: 1;
	}
}


h1 {
	font-size: 32px;
	font-weight: 400;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: -0.05em;
}
@media screen and (min-height: 530px) {
	h1 {
		font-size: 36px;
	}
}
@media screen and (min-width: 640px) {
	h1 {
		font-size: 50px;
	}
}
@media screen and (min-width: 1000px) {
	h1 {
		font-size: 60px;
	}
}
@media screen and (min-width: 1400px) {
	h1 {
		font-size: 80px;
	}
}
@media screen and (min-width: 1800px) {
	h1 {
		font-size: 100px;
	}
}
h3 {
	font-size: 29px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: -0.05em;
	margin-bottom: 19px;
}

ol {
	counter-reset: ol;
}
ol li,
ul li {
	position: relative;
	margin-bottom: 1px;
}
ol li {
	counter-increment: ol;
}
ol li:before {
	position: absolute;
	left: 0;
	top: 0;
	content: counter(ol, decimal-leading-zero);
}
.stage-fallback.beat-bg {
	background-image: url(../images/bg-light.jpg);
}
/*.stage-fallback.albums-bg {
	background-image: url(../images/menu.jpg);
}*/
aside {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 25%;
	z-index: 0;
	background-size: cover;
	background-position: center;
	transform: translateZ(0px);
}
@media screen and (min-width: 640px) {
	aside {
		height: 33%;
	}
}
@media screen and (min-width: 1000px) {
	aside {
		position: fixed;
		bottom: auto;
		top: 0;
		height: 100%;
		width: 33%;
		z-index: 2;
	}
}

beat-bg-slider {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 0;
	overflow: hidden;
}
beat-bg-slider .slide {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
	transition-timing-function: cubic-bezier(0.9, 0, 0.4, 1);
	transform: translateZ(0px);
}
beat-bg-slider .slide .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	transition-timing-function: cubic-bezier(0.9, 0, 0.4, 1);
	will-change: transform;
	background-size: cover;
	background-position: center;
}
beat-bg-slider .slide:first-child {
	z-index: 1;
}
beat-bg-slider .slide:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #252525;
	z-index: 1;
	opacity: 0;
	transition: opacity 0s linear;
}
beat-bg-slider .slide.hidden:before {
	opacity: 0.5;
	transition: opacity 0.8s linear;
}

.cover .cover-img {
	position: absolute;
	top: -30px;
	bottom: 20px;
	left: 20px;
	right: 20px;
	z-index: 1;
}
@media screen and (min-width: 640px) {
	.cover .cover-img {
		top: -60px;
		bottom: 40px;
		left: 13%;
		right: 13%;
	}
}
@media screen and (min-width: 1000px) {
	.cover .cover-img {
		top: 13%;
		bottom: 13%;
	}
}
.cover proportional-height {
	display: block;
	position: absolute;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	left: 0;
	top: 0;
	opacity: 0;
}
@media screen and (min-width: 640px) {
	.cover proportional-height {
		right: 0;
		bottom: 0;
		margin: auto;
	}
}
.cover .cover-img img {
	position: absolute;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}

.section-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 31px;
	box-sizing: border-box;
	color: #252525;
	z-index: 3;
	transform: translateZ(0px);
}
.section-header .left-wrapper {
	position: relative;
	margin-left: 70px;
}
.section-header .time {
	position: absolute;
	left: 75px;
	display: inline-block;
	bottom: -6px;
	display: none;
}
.section-header .time .mn {
	font-size: 29px;
}
.section-header .time .sc {
	font-size: 29px;
}
.section-header .time .ms {
	font-size: 14px;
}
.section-header .close {
	position: absolute;
	left: 0;
	top: 0;
}
@media screen and (min-width: 640px) {
	.section-header {
		padding-top: 52px;
	}
	.section-header .time {
		display: block;
	}
	.section-header .left-wrapper {
		margin-left: 90px;
	}
}
@media screen and (min-width: 1000px) {
	.section-header {
		padding-top: 53px;
	}
	.section-header .left-wrapper {
		margin-left: 10%;
	}
}

.beat {
	position: relative;
	color: #252525;
}


.slide-content {
	padding-top: 100px;
	padding-bottom: 25px;
	margin-right: 50px;
}
@media screen and (min-width: 640px) {
	.slide-content {
		padding: 0;
		margin-bottom: 0;
		position: absolute;
		top: 20%;
		max-width: 600px;
		margin-right: 150px;
	}
}
@media screen and (min-width: 1000px) {
	.slide-content {
		top: 26%;
	}
}
.slide-content h1 {
	margin-bottom: 4px;
}
.slide-content .nfo {
	line-height: 1.2;
}

.albums {
	position: relative;
	color: #ffffff;
}
.albums-header .left-wrapper,
.albums-footer .left-wrapper,
.albums .left-wrapper {
	margin-left: 20px;
}
.albums-header {
	line-height: 1.3;
	color: #ffffff;
}
@media screen and (min-width: 640px) {
	.albums-header .left-wrapper,
	.albums-footer .left-wrapper,
	.albums .left-wrapper {
		margin-left: 17.5%;
	}
}
@media screen and (min-width: 1000px) {
	.albums .slide-content {
		top: calc(55px + 26%);
	}
}


.arr {
	right: -11px;
	width: 45px;
	height: 45px;
	position: absolute;
	transition: opacity 0.2s;
}
.arr.inactive {
	opacity: 0.2;
	cursor: default;
}

.arr .ico {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 20px;
	height: 12px;
	background: url(../images/arr.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	transform: translateZ(0px);
}
.arr.a-b .ico {
	transform: rotate(180deg) translateZ(0px);
}

.beat-aside {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	height: 0;
	z-index: 3;
	transform: translateZ(0px);
	color: #252525;
}
.beat-aside .inner {
	position: absolute;
	right: 0;
	height: 100vh;
}
.beat-aside .all {
	position: absolute;
	color: #252525;
	top: 107px;
	right: -1px;
/*	width: 45px;
	height: 45px;*/
	text-align: center;
}
.beat-aside .beat-index,
.beat-aside .beat-total {
	display: block;
	position: absolute;
	width: 22px;
	right: 1px;
	text-align: center;
}
.beat-aside .beat-index {
	bottom: calc(25% + 190px);
}
.beat-aside .beat-total {
	bottom: calc(25% + 59px);
}
.beat-aside .arr.a-t {
	bottom: calc(25% + 135px);
}
.beat-aside .arr.a-b {
	bottom: calc(25% + 85px);
}

@media screen and (min-width: 640px) {
	.beat-aside .all {
		top: calc(20% + 12px);
	}
	.beat-aside .beat-index {
		bottom: calc(33% + 239px);
	}
	.beat-aside .beat-total {
		bottom: calc(33% + 104px);
	}
	.beat-aside .arr.a-t {
		bottom: calc(33% + 184px);
	}
	.beat-aside .arr.a-b {
		bottom: calc(33% + 134px);
	}
}
@media screen and (min-width: 1000px) {
	.beat-aside .inner {
		position: absolute;
		right: 19.5%;
		height: 100vh;
	}
	.beat-aside .all {
		top: 53px;
	}
	.beat-aside .beat-index {
		top: calc(26% + 13px);
	}
	.beat-aside .beat-total {
		bottom: 62px;
	}
	.beat-aside .arr.a-t {
		bottom: 185px;
	}
	.beat-aside .arr.a-b {
		bottom: 95px;
	}
}

.albums-aside {
	position: fixed;
	width: 100%;
	height: 0;
	right: 0;
	top: 0;
	z-index: 2;
}
.albums-aside .inner  {
	position: absolute;
	right: 0;
	top: 0;
}
.albums-aside .albums-index {
	position: absolute;
	top: 105px;
	right: 0;
}
.albums-aside .albums-index:before {
	display: inline;
	content: "#a"
}
.albums-aside .arr {
	right: -11px;
}
.albums-aside .arr .ico {
	background: url(../images/arr-white.svg);
	background-repeat: no-repeat;
}
.albums-aside .arr.a-t {
	bottom: calc(25% + 135px);
}
.albums-aside .arr.a-b {
	bottom: calc(25% + 59px);
}
@media screen and (min-width: 640px) {
	.albums-aside .albums-index {
		top: calc(20% + 11px);
	}
	.albums-aside .arr.a-t {
		bottom: calc(27% + 184px);
	}
	.albums-aside .arr.a-b {
		bottom: calc(27% + 134px);
	}
}
@media screen and (min-width: 1000px) {
	.albums-aside {
		right: auto;
		left: 0;
	}
	.albums-aside .inner  {
		right: auto;
		left: 0;
	}
	.albums-aside .albums-index {
		top: 54px;
		left: 0;
	}
	.albums-aside .arr {
		right: auto;
		left: -11px;
	}
	.albums-aside .arr.a-t {
		bottom: 115px;
	}
	.albums-aside .arr.a-b {
		bottom: 44px;
	}
}

.albums-footer .btn {
	margin-right: 55px;
	margin-top: 20px;
}
@media screen and (min-width: 640px) {
	.albums-footer .btn {
		margin-top: 0px;
	}
}

.section-footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: 1;
	bottom: calc(25% + 54px);
	z-index: 3;
}
.beat-footer .buy {
	font-size: 23px;
	letter-spacing: -0.05em;
	margin-right: 25px;
}
.beat-footer .price {
	display: inline-block;
	font-size: 23px;
	letter-spacing: -0.05em;
}
@media screen and (min-width: 640px) {
	.section-footer {
		bottom: calc(33% + 104px);
	}
	.beat-footer .buy {
		font-size: 29px;
		margin-right: 43px;
	}
	.beat-footer .price {
		font-size: 29px;
	}
}
@media screen and (min-width: 1000px) {
	.section-footer {
		bottom: 57px;
	}
}

.albums .nfo .price {
	font-size: 29px;
}


.video-index {
	display: inline-block;
}
.videos-header {
	color: #ffffff;
}
.videos-header .video-index {
	position: relative;
}
.videos-header .video-index:before {
	content: '#v';
}
.video-slide .view {
	margin-top: 40px;
	margin-bottom: 40px;
}
.video-slide {
	color: #ffffff;
}
.video-slide .video-bg {
	background: #101010;
}
@media screen and (min-width: 1000px) {
	slide-scroll.slide-mode .video-slide .slide-content {
		top: 15%;
	}
}
/*slide-scroll.slide-mode .video-slide {

}
slide-scroll.slide-mode .video-slide .slide-content {
	transform: translateZ(0px);
}
slide-scroll.slide-mode .video-slide.slide-next {
}

slide-scroll.slide-mode .video-slide .video-bg {
	transform: translateZ(0px);
}
slide-scroll.slide-mode .video-slide .video-bg img,
slide-scroll.slide-mode .video-slide .video-bg video {
	transform: translateZ(0px);
	opacity: 1;
	transition: opacity 0.8s ease 0.3s;
}
slide-scroll.slide-mode .video-slide.slide-next .video-bg {
	transform: translateY(-33%) translateZ(0px);
}
slide-scroll.slide-mode .video-slide.slide-next .video-bg img, 
slide-scroll.slide-mode .video-slide.slide-next .video-bg video {
	opacity: 0;
	transition: opacity 0.6s ease 0s;
}
slide-scroll.slide-mode .video-slide.slide-previous .video-bg {
	transform: translateY(60%) translateZ(0px);
}

slide-scroll.slide-scroll-ready .video-slide .video-bg {
	transition: transform cubic-bezier(0.9, 0, 0.4, 1) 0.8s;
}*/

.album-header {
	color: #ffffff;
}
.album-header .left-wrapper {

}
@media screen and (min-width: 1000px) {
	.album-header .left-wrapper {
		margin-left: 54%;
	}
}
.album {

}
.album .nt {
	margin-bottom: 5px;
}
.album .nfo {
	margin-top: 35px;
}
.album .nfo .btn {
	margin-bottom: 20px;
	margin-right: 25px;
}

@media screen and (min-width: 1000px) {
	.album .nfo {
		margin-top: 55px;
	}
	.album .left-wrapper {
		margin-left: 54%;
		margin-right: 10%;
	}
}
.album .slide-content {
	margin-right: 0;
}
.album-footer {
	bottom: 90px;
	margin-right: 100px;
}
.album-footer .l {
	margin-bottom: 18px;
}
@media screen and (min-width: 640px) {
	.album-footer {
		bottom: 115px;
		margin-right: 0px;
	}
	.album-footer .l {
		float: left;
		margin-right: 55px;
		margin-bottom: 0;
	}
	.album-footer .r {
		float: left;
	}
}
@media screen and (min-width: 1000px) {
	.album-footer {
		bottom: 57px;
	}
}

.album-footer .r .btn {
	margin-bottom: 18px;
}

.album-back {
	position: fixed;
	left: 20px;
	bottom: 17px;
	z-index: 5;
}
@media screen and (min-width: 640px) {
	.album-back {
		left: 40px;
		bottom: 45px;
	}
}
@media screen and (min-width: 1000px) {
	.album-back {
		left: 10%;
		bottom: 57px;
	}
}

.album-all {
	position: fixed;
	top: 33px;
	right: 80px;
	z-index: 4;
	z-index: 4;
}
@media screen and (min-width: 640px) {
	.album-all {
		left: auto;
		top: 46px;
		right: 100px;
	}
}
@media screen and (min-width: 1000px) {
	.album-all {
		position: fixed;
		right: auto;
		top: 53px;
		left: 10%;
	}
}

.tracks-list {
	display: block;
}

slide-scroll {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: 1;
}
slide-scroll .slide-scroll-wrapper {
	position: relative;
	min-height: 100%;
	width: 100%;
}
slide-scroll .left-wrapper {
	position: absolute;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
}
slide-scroll .js-slide {
	height: 460px;
	position: relative;
}
@media screen and (min-width: 640px) {
	slide-scroll .js-slide {
		height: 640px;
	}
}
@media screen and (min-width: 1000px) {
	slide-scroll .js-slide {
		z-index: 0;
		height: 600px;
	}
}
@media screen and (min-width: 1400px) {
	slide-scroll .js-slide {
		height: 540px;
	}
}
@media screen and (min-width: 1800px) {
	slide-scroll .js-slide {
		height: 720px;
	}
}



slide-scroll {
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch
}
slide-scroll.slide-mode {
	overflow: hidden;
	-webkit-overflow-scrolling: auto
}
slide-scroll .slide-scroll-wrapper {
	transition-timing-function: cubic-bezier(0.9, 0, 0.4, 1);
}
slide-scroll.slide-mode .js-slide {
	z-index: 2;
}
slide-scroll.slide-mode .js-slide.slide-next,
slide-scroll.slide-mode .js-slide.slide-previous {
	z-index: 0;
}
slide-scroll.slide-mode .js-slide .left-wrapper {
	opacity: 1;
	z-index: 1;
	transition: opacity 0.3s ease 0.6s;
}
slide-scroll.slide-mode .js-slide.slide-next .left-wrapper,
slide-scroll.slide-mode .js-slide.slide-previous .left-wrapper {
	opacity: 0;
	z-index: 0;
	transition: opacity 0.4s ease;
}



.all-tracks-popup .popup-inner {
	text-align: center;
}
.all-tracks {
	padding-left: 0;
	padding-top: 100px;
	padding-bottom: 100px;
	display: inline-block;
	white-space: nowrap;
}
.all-tracks .tracks-group {
	margin-bottom: 60px;
	text-align: left;
}
.all-tracks .tracks-group:last-child {
	margin-bottom: 0;
}
.all-tracks .track {
	cursor: pointer;
}
.all-tracks .track span {
	position: relative;
	padding-left: 37px;
}
.all-tracks .track span:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background: #ffffff;
	opacity: 0.7;
	transition: all 0.2s;
}
@media screen and (min-width: 1000px) {
	.all-tracks-popup .popup-inner {
		text-align: left;
	}
	.all-tracks {
		display: block;
		padding-top: 95px;
		padding-bottom: 95px;
		margin-left: 54%;
	}
}
.all-tracks .track {
	transition: opacity 0.3s, margin 0.2s;
	opacity: 1;
}
.all-tracks .track:not(.active):hover {
	transition: opacity 0.2s;
	opacity: 0.6;
}
.all-tracks .track.active {
	margin-bottom: 8px;
	transition: margin 0.2s;
	cursor: default;
}
.all-tracks .track.active span:after {
	width: 100%;
}


h1 .lt {
	transition: opacity 0.8s, transform 0.8s;
}
h1 .wd {
	white-space: nowrap;
}
h1 .wd,
h1 .lt,
h1 .ln {
	line-height: 1;
	position: relative;
	z-index: 2;
}
h1 .lt {
	position: relative;
	overflow: hidden;
}

h1 canvas {
	position: absolute;
	pointer-events: none;
	z-index: 3;
}


audio-progressbar {
	position: fixed;
	width: 100%;
	height: 8px;
	top: 0;
	left: 0;
	z-index: 1;
}
audio-progressbar .ac {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #252525;
	transform-origin: 0 50%;
	transform: scaleX(0);
}

popup-component {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	z-index: 50;
	transform: translateZ(0px);
	overflow: hidden;
}
popup-component .popup-outer {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch
}

popup-component .popup-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}
popup-component .popup-cell {
    display: table-cell;
    vertical-align: middle;
    table-layout: fixed;
}
popup-component {
	width: 0;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.4s linear 0s, transform 0.4s ease 0s, width 0s linear 0.4s;
}
popup-component.active {
	width: 100%;
	opacity: 1;
	pointer-events: auto;
	transition: opacity 0.2s linear 0s, transform 0.2s ease 0s, width 0s linear 0s;
}

page-transition {
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10000;
	background: url(../images/bg-dark.jpg);
	background-size: cover;
	background-position: center;

	width: 0;
	opacity: 0;
	transition: opacity 0.4s linear 0s, transform 0.4s ease 0s, width 0s linear 0.4s;
}
page-transition.active {
	width: 100%;
	opacity: 1;
	transition: opacity 0.2s linear 0s, transform 0.2s ease 0s, width 0s linear 0s;
}

preloader-component {
	position: fixed;
	z-index: 10000;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #101010;
	transition: opacity 0.6s linear;
	transform: translateZ(0px);
	display: none;
}
/*.webgl preloader-component.loading {
	background: none;
}*/
preloader-component canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.csstransitions preloader-component {
	display: block;
}

preloader-component.hidden {
	opacity: 0;
}
preloader-component .wrapper {
	position: relative;
	height: 100%;
}
preloader-component .text {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 52px;
	margin: auto;
}
preloader-component .loaded-text {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	opacity: 0;
	font-size: 25px;
	transform: translateZ(0px);
}
preloader-component .perc {
	position: relative;
	font-size: 25px;
	opacity: 1;
	transition: opacity 0.2s;
	transform: translateZ(0px);
	z-index: 10px;
	opacity: 0;
	margin-bottom: 5px;
}
preloader-component.loading .perc {
	opacity: 1;
}
preloader-component.loaded .perc {
	opacity: 0;
}
preloader-component.loaded .loaded-text {
	transition: opacity 0.2s;
	opacity: 1;
}
preloader-component .loaded-text:after {
	content: "";
	position: relative;
	display: inline-block;
	width: 18px;
	height: 25px;
	top: 4px;
	left: 2px;
	background: #ffffff;
	box-shadow: 0 0 3px #ffffff;
	transform: translateZ(0px);
	line-height: 25px;
	z-index: 20;
}
preloader-component .loaded-text.no-animation:after {
	animation: blink 0.5s 2 alternate;
	-webkit-animation: blink 0.5s 2 alternate;
}
preloader-component .nt {
	opacity: 0;
	transform: translateY(5px);
}
preloader-component.loading .nt {
	opacity: 1;
	transform: translateY(0px);
	transition: all 0.6s;
}
@media screen and (min-width: 640px) {
	preloader-component .text {
		height: 81px;
	}
	preloader-component .loaded-text,
	preloader-component .perc {
		font-size: 50px;
		margin-bottom: 4px;
	}
	preloader-component .loaded-text:after {
		height: 52px;
		width: 34px;
		top: 7px;
		line-height: 50px;
	}
}
@media screen and (min-width: 1000px) {
	preloader-component .text {
		height: 90px;
	}
	preloader-component .loaded-text,
	preloader-component .perc {
		font-size: 60px;
		margin-bottom: 1px;
	}
	preloader-component .loaded-text:after {
		height: 59px;
		width: 37px;
		top: 7px;
		line-height: 60px;
	}

}

full-img {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
	contain: strict;
}
full-img img {
	position: absolute;
	top: 0;
	left: 0;
}

/*.slide-content h1 {
	transform: translateY(-20px);
	transition: all 0.8s ease-out;
}
.preload-complete .slide-content h1 {
	transform: translateY(0px);
}*/