@font-face {
	font-family:'CPMono';
	src: url('../fonts/CPMono_v07Plain.eot');
	src: url('../fonts/CPMono_v07Plain.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CPMono_v07Plain.woff2') format('woff2'),
		url('../fonts/CPMono_v07Plain.woff') format('woff'),
		url('../fonts/CPMono_v07Plain.svg#CPMono_v07Plain') format('svg');
	font-weight: 400;
}
@font-face {
	font-family:'CPMono';
	src: url('../fonts/CPMono_v07Light.eot');
	src: url('../fonts/CPMono_v07Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CPMono_v07Light.woff2') format('woff2'),
		url('../fonts/CPMono_v07Light.woff') format('woff'),
		url('../fonts/CPMono_v07Light.svg#CPMono_v07Light') format('svg');
	font-weight: 300;
}
@font-face {
	font-family:'CPMono';
	src: url('../fonts/CPMono_v07ExtraLight.eot');
	src: url('../fonts/CPMono_v07ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CPMono_v07ExtraLight.woff2') format('woff2'),
		url('../fonts/CPMono_v07ExtraLight.woff') format('woff'),
		url('../fonts/CPMono_v07ExtraLight.svg#CPMono_v07ExtraLight') format('svg');
	font-weight: 200;
	}
@font-face {
	font-family:'CPMono';
	src: url('../fonts/CPMono_v07Bold.eot');
	src: url('../fonts/CPMono_v07Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CPMono_v07Bold.woff2') format('woff2'),
		url('../fonts/CPMono_v07Bold.woff') format('woff'),
		url('../fonts/CPMono_v07Bold.svg#CPMono_v07Bold') format('svg');
	font-weight: 600;
}
@font-face {
	font-family:'CPMono';
	src: url('../fonts/CPMono_v07Black.eot');
	src: url('../fonts/CPMono_v07Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CPMono_v07Black.woff2') format('woff2'),
		url('../fonts/CPMono_v07Black.woff') format('woff'),
		url('../fonts/CPMono_v07Black.svg#CPMono_v07Black') format('svg');
	font-weight: 900;
}

/*::selection {
	background: rgba(37, 37, 37, 1);
	color: #ffffff;
}*/
::-moz-selection {
	background: rgba(37, 37, 37, 1);
	color: #ffffff;
}


* {
	margin: 0;
	padding: 0;
	outline: 0 none;
	border: none;
}
li {
	list-style: none outside none;
}
html, body {
	border: 0 none;
}
html {
	height: 100%;
	-webkit-text-size-adjust: none;
}

body {
	font-size: 14px;
	color: #ffffff;
	background: #101010;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
	font-family: 'CPMono', sans-serif;
}

input {
	-webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body.prevent-scroll {
	overflow: hidden;
}
body.prevent-scroll .page-wrapper {

}

a {
	text-decoration: none;
}
a[is="inner-link"].active {
	cursor: default;
}

.page-wrapper {
	display: block;
	position: relative;
	overflow: hidden;
	min-width: 320px;
	color: #ffffff;
	transition: color 0.2s;
}
.page-wrapper[data-scheme="bright"] {
	color: #252525;
}
.show320 {
	display: block !important;
}
.show640 {
	display: none !important;
}
.show320.show640 {
	display: block !important;
}
.show1000 {
	display: none !important;
}
.show640.show1000 {
	display: none !important;
}
span.show320 {
	display: inline !important;
}
span.show640 {
	display: none !important;
}
span.show320.show640 {
	display: inline !important;
}
span.show1000 {
	display: none !important;
}
span.show640.show1000 {
	display: none !important;
}
@media screen and (min-width: 640px) {
	.show320 {
		display: none !important;
	}
	.show320.show640 {
		display: block !important;
	}
	.show640 {
		display: block !important;
	}
	.show640.show1000 {
		display: block !important;
	}
	span.show320 {
		display: none !important;
	}
	span.show320.show640 {
		display: inline !important;
	}
	span.show640 {
		display: inline !important;
	}
	span.show640.show1000 {
		display: inline !important;
	}
}
@media screen and (min-width: 1000px) {
	.show320.show640 {
		display: none !important;
	}
	.show640 {
		display: none !important;
	}
	.show1000 {
		display: block !important;
	}
	.show640.show1000 {
		display: block !important;
	}
	span.show320.show640 {
		display: none !important;
	}
	span.show640 {
		display: none !important;
	}
	span.show1000 {
		display: inline !important;
	}
	span.show640.show1000 {
		display: inline !important;
	}
}

header {
	position: static;
	width: 10%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 200;
	pointer-events: none;
}
header .logo {
	position: fixed;
	left: 20px;
	top: 23px;
	width: 31px;
	height: 33px;
	background-repeat: no-repeat;
	z-index: 200;
	pointer-events: auto;
}
header .logo svg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
header .logo g {
	isolation:isolate;
}
header .logo .cls-1 {
	fill: #e2e2e2;
	stroke: none;
	transition: fill 0.2s;
}
.page-wrapper[data-scheme="bright"] header .logo .cls-1 {
	fill: #252525;
}
@media screen and (min-width: 640px) {
	header .logo {
		left: 40px;
		top: 40px;
	}
}
@media screen and (min-width: 1000px) {
	header {
		position: fixed;
		transform: translateZ(0px);
	}
	header .logo {
		left: calc(50% - 15px);
		top: 38px;
	}
}

header .title {
	position: absolute;
	bottom: 55px;
	left: 50%;
	font-size: 14px;
	letter-spacing: 0.05em;
	transform: rotate(-90deg) translateY(0.5px) translateZ(0px);
	transform-origin: 0 50%;
	bottom: 55px;
	transform: rotate(-90deg);
	transform-origin: 0 50%;
	display: none;
	pointer-events: auto;
}
@media screen and (min-width: 1000px) {
	header .title {
		display: block;
	}
}
button {
	display: inline-block;
	background: none;
	border: none;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	cursor: pointer;
	font-family: 'CPMono', sans-serif;
	font-size: 14px;
	color: #ffffff;
}
@keyframes blink {
	0% {
	 	opacity: 0;
	}
	33% {
		opacity: 0;
	}
	66% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
.btn {
	display: inline-block;
	transition: color 0.2s;
	position: relative;
	color: #ffffff;
	white-space: nowrap;
	cursor: pointer;
}
.btn:before {
	content: "";
	position: absolute;
	left: -2px;
	top: -4px;
	width: 0;
	bottom: -3px;
	z-index: -1;
	vertical-align: bottom;
	background: #ffffff;
	transition: all 0.4s;
	opacity: 0.95;
	transition-timing-function: cubic-bezier(0.9, 0, 0.4, 1);
}
.btn:after {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	right: 8px;
	height: 100%;
	width: 11px;
	background: #252525;
	z-index: 2;
	opacity: 0;
	transition: opacity 0.2s ease 0.1s;
	box-shadow: 0 0 2px #252525;
}
.btn.big {
	font-size: 23px;
	letter-spacing: -0.05em;
}
@media screen and (min-width: 640px) {
	.btn.big {
		font-size: 29px;
	}
}
.btn.big:after {
	right: 13px;
	width: 14px;
}
@media screen and (min-width: 640px) {
	.btn.big:after {
		right: 16px;
		width: 18px;
	}
}
.no-touchevents .btn:hover {
	color: #252525;
}
.no-touchevents .btn:hover:before {
	width: calc(100% + 6px);
	transition: all 0.15s;
}
.no-touchevents .btn:hover:after {
	opacity: 1;
	animation: blink 0.5s infinite alternate;
	-webkit-animation: blink 0.5s infinite alternate;
}
@-moz-document url-prefix() {
	.btn:before {
		left: -1px;
		top: -3px;
		bottom: -2px;
	}
	.btn:after {
		right: 11px;
		top: 1px;
		height: calc(100% - 2px);
	}
	.btn.big:after {
		right: 19px;
	}
}
.page-wrapper[data-scheme="bright"] .cart .btn,
.btn.dark {
	color: #252525;
}
.page-wrapper[data-scheme="bright"] .cart .btn:before,
.btn.dark:before {
	background: #142229;
}
.btn.dark:after,
.page-wrapper[data-scheme="bright"] .cart .btn:after {
	background: #ffffff;
	box-shadow: 0 0 2px #ffffff;
}
.no-touchevents .btn.dark:hover,
.no-touchevents .page-wrapper[data-scheme="bright"] .cart .btn:hover {
	color: #ffffff;
}
.menu-btn {
	position: fixed;
	width: 45px;
	height: 45px;
	right: 10px;
	top: 18px;
	cursor: pointer;
	transform: translateZ(0px);
	z-index: 200;
	pointer-events: auto;
}
@media screen and (min-width: 640px) {
	.menu-btn {
		right: 30px;
		top: 32px;
	}
}
@media screen and (min-width: 1000px) {
	.menu-btn {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
}
.menu-btn .b {
	position: absolute;
	background-color: #ffffff;
	transform-origin: 50% 50%;
	transition: all 0.1s ease 0s, background-color 0.1s ease 0s, transform 0s ease 0.1s;
}
.page-wrapper[data-scheme="bright"] .menu-btn .b {
	background-color: #252525;
}
.menu-btn .b1,
.menu-btn .b2,
.menu-btn .b3,
.menu-btn .b4,
.menu-btn .b5 {
	width: 23px;
	height: 2px;
	left: 0;
	right: 0;
	margin: auto;
}
.menu-btn .b1 {
	top: 15px;
}
.menu-btn .b2,
.menu-btn .b4,
.menu-btn .b5 {
	top: 21px;
}
.menu-btn .b3 {
	top: 27px;
}	
.menu-btn .b4,
.menu-btn .b5 {
	opacity: 0;
}
.menu-btn .b4 {
	transform: rotate(45deg);
}
.menu-btn .b5 {
	transform: rotate(-45deg);
}
.menu-btn .b1,
.menu-btn .b2,
.menu-btn .b3 {
	transition: all 0.1s ease 0s, background-color 0.1s ease 0s;
}
.menu-btn:not(.active):hover .b1 {
	opacity: 0.7;
}
.menu-btn:not(.active):hover .b3 {
	opacity: 0.7;
}
.menu-btn.active .b1 {
	transform: translateY(-3px);
	opacity: 0;
}
.menu-btn.active .b2 {
	opacity: 0;
}
.menu-btn.active .b3 {
	transform: translateY(3px);
	opacity: 0;
}
.menu-btn.active .b4,
.menu-btn.active .b5 {
	opacity: 1;
	animation: blink 0.1s 3;
	-webkit-animation: blink 0.1s 3;
}
main {
	display: block;
	position: relative;
	z-index: 1;
}
.content {
	position: relative;
	transition: opacity 0.2s linear 0s;
	opacity: 1;
}
.no-touchevents.webgl .page-wrapper[data-popup="active"] .content {
	opacity: 0;
	transition: opacity 0.2s linear 0s;
}

.cart {
	position: fixed;
	right: 18px;
	bottom: 20px;
	z-index: 100;
	transform: translateZ(0px);
}
@media screen and (min-width: 640px) {
	.cart {
		right: 40px;
		bottom: 40px;
	}
}
@media screen and (min-width: 1000px) {
	.cart {
		right: 4.2%;
		top: 54px;
		bottom: auto;
		display: block;
	}
}

.wrapper,
.padded-wrapper {
	width: calc(100% - 40px);
	margin: 0 auto;
	position: relative;
}
.left-wrapper {
	display: block;
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
	height: 100%;
}
@media screen and (min-width: 640px) {
	.wrapper {
		width: calc(100% - 80px);
	}
	.padded-wrapper {
		width: calc(100% - 240px);
	}
	.left-wrapper {
		margin-left: 40px;
		margin-right: 40px;
	}
}
@media screen and (min-width: 1000px) {
	.wrapper,
	.padded-wrapper {
		width: 80%;
	}
	.left-wrapper {
		margin-left: 10%;
		margin-right: 33%;
	}
}

stage-component,
.stage-fallback {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 0;
	display: none;
}
.stage-fallback {
	display: block;
}
popup-component .stage-fallback {
	position: absolute;
}
.no-touchevents.webgl stage-component {
	display: block;
}
.no-touchevents.webgl .stage-fallback {
	display: none;
}

.stage-fallback {
	background: url(../images/bg-dark.jpg);
	background-size: cover;
	background-position: center;
}

.menu-popup {
	z-index: 50;
}
.menu-popup .popup-cell {
	text-align: center;
}
.menu {
	padding-top: 50px;
	padding-bottom: 50px;
	display: inline-block;
	text-align: left;
}
.menu .item {
	display: block;
}
.menu .item a {
	color: #ffffff;
	font-size: 50px;
	font-weight: 400;
	letter-spacing: -0.05em;
	line-height: 1.15;
}
.menu .item a {
	opacity: 0;
	transition: opacity 0.5s ease 0s, transform 0s ease 0.3s;
}
.menu-popup.active .menu .item a {
	opacity: 1;
	transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
}
.menu-popup.active .menu .item:nth-child(1) a {
	transition-delay: 0.075s;
}
.menu-popup.active .menu .item:nth-child(2) a {
	transition-delay: 0.150s;
}
.menu-popup.active .menu .item:nth-child(3) a {
	transition-delay: 0.225s;
}
.menu-popup.active .menu .item:nth-child(4) a {
	transition-delay: 0.3s;
}
.menu-popup.active .menu .item:nth-child(5) a {
	transition-delay: 0.375s;
}
.menu-popup.active .menu .item a.active {
	transition-delay: 0s !important;
}
@media screen and (min-width: 640px) {
	.menu {
		display: block;
		padding: 0;
		position: absolute;
		left: 40px;
		bottom: 40px;
	}
	.menu .item a {
		font-size: 60px;
		line-height: 1;
	}
}
@media screen and (min-width: 1000px) {
	.menu {
		left: 10%;
		bottom: 50px;
	}
}

menu-text {
	display: inline-block;
	position: relative;
}
menu-text .glitch-fake {
	opacity: 0;
}
menu-text .glitch-start {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	z-index: 1;
	overflow: hidden;
}
menu-text .glitch-start span {
	position: absolute;
	right: 0;
}
menu-text .glitch-animation {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	overflow: hidden;
	z-index: 2;
}
menu-text .glitch-final {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0px;
	color: #252525;
	overflow: hidden;
	width: 0;
	z-index: 3;
}
menu-text:before {
	content: "";
	position: absolute;
	left: -7px;
	right: -20px;
	top: 0;
	bottom: 0;
	background: #ffffff;
	z-index: 0;
	transform: scaleX(0);
	transform-origin: 0 0;
	transition: all 0.3s ease;
}
menu-text .glitch-final {
	width: 0%;
	transition: all 0.3s ease;
}
.no-touchevents menu-text:hover:before,
a.active menu-text:before {
	transition: all 0.3s cubic-bezier(0.9, 0, 0.4, 1) 0.2s;
	transform: scaleX(1);
}
.no-touchevents menu-text:hover .glitch-start,
.no-touchevents a.active menu-text .glitch-start {
	transition: all 0.3s steps(5);
	width: 0;
}
.no-touchevents menu-text:hover .glitch-animation,
.no-touchevents a.active menu-text .glitch-animation {
	transition: all 0.3s steps(5);
	width: 100%;
}
.no-touchevents menu-text:hover .glitch-final,
a.active menu-text .glitch-final {
	transition: all 0.3s cubic-bezier(0.9, 0, 0.4, 1) 0.35s;
	width: 100%;
}
/*menu-text canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	pointer-events: none;
}
a.active menu-text canvas {
	display: block;
}
*/

.menu-fake {
	color: #252525;
	font-size: 50px;
	line-height: 1.15;
	letter-spacing: -0.05em;
}
.menu-fake div,
.menu-fake div:before {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	overflow: hidden;
}
.menu-fake:before {
	content: "";
	position: absolute;
	left: -7px;
	right: -20px;
	top: 0;
	bottom: 0;
	background: #ffffff;
	z-index: 0;
	transform-origin: 0 0;
	transform: scaleX(0);
	z-index: 1;
}
.menu-fake .menu-fake-top {
	z-index: 3;
	width: 0;
}
.menu-fake .menu-fake-bottom {
	z-index: 0;
	color: #ffffff;
	width: 100%;
}
.menu-fake .menu-fake-top:before {
	content: attr(data-text);
	position: absolute;
	left: 0;
	width: auto;
}
.menu-fake .menu-fake-bottom:before {
	content: attr(data-text);
	position: absolute;
	left: 0;
	width: auto;
}
.menu-fake.simple .menu-fake-bottom {
	width: 0;
}
.menu-fake.active:before {
	transform-origin: 0 0;
	transform: scaleX(1);
}
.menu-fake.active .menu-fake-top {
	width: 100%;
}
.menu-fake.touch.active:before,
.menu-fake.simple.active:before {
	transition: transform 0.3s cubic-bezier(0.9, 0, 0.4, 1) 0s;
}
.menu-fake.touch.active .menu-fake-top,
.menu-fake.simple.active .menu-fake-top {
	transition: width 0.3s cubic-bezier(0.9, 0, 0.4, 1) 0.2s;
}

.menu-fake.hidden:before {
	transform-origin: 100% 0;
	transform: scaleX(0);
	transition: transform 0.3s cubic-bezier(0.9, 0, 0.4, 1) 0.2s;
}

.menu-fake.hidden .menu-fake-bottom {
	width: 0;
}
.menu-fake.hidden .menu-fake-top {
	left: auto;
	right: 0;
}
.menu-fake.hidden .menu-fake-top:before {
	left: auto;
	right: 0;
}
.menu-fake.hidden .menu-fake-top {
	width: 0;
	transition: width 0.3s cubic-bezier(0.9, 0, 0.4, 1) 0s;
}

/*.menu-fake.hide:before {
	transform-origin: 100% 0;
	transform: scaleX(0);
	transition: transform 0.3s cubic-bezier(0.9, 0, 0.4, 1) 0.2s;
}
.menu-fake.hide .menu-fake-top {
	width: 0;
	transition: width 0.3s cubic-bezier(0.9, 0, 0.4, 1) 0s;
}
*/

@media screen and (min-width: 640px) {
	.menu-fake {
		font-size: 60px;
		line-height: 1;
	}
}


h1 {
	font-size: 32px;
	font-weight: 400;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: -0.05em;
}
@media screen and (min-height: 530px) {
	h1 {
		position: relative;
		left: -2px;
		font-size: 36px;
	}
}
@media screen and (min-width: 640px) {
	h1 {
		position: relative;
		left: -3px;
		font-size: 50px;
	}
}
@media screen and (min-width: 1000px) {
	h1 {
		position: relative;
		left: -4px;
		font-size: 60px;
	}
}
@media screen and (min-width: 1400px) {
	h1 {
		position: relative;
		left: -5px;
		font-size: 80px;
	}
}
@media screen and (min-width: 1800px) {
	.slide-scroll-active h1 {
		position: relative;
		left: -6px;
		font-size: 100px;
	}
}
h3 {
	font-size: 29px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: -0.05em;
	margin-bottom: 19px;
}

ol {
	counter-reset: ol;
}
ol li,
ul li {
	position: relative;
	margin-bottom: 1px;
}
ol li {
	counter-increment: ol;
}
ol li:before {
	position: absolute;
	left: 0;
	top: 0;
	content: counter(ol, decimal-leading-zero);
}
.stage-fallback.beat-bg {
	background-image: url(../images/bg-light.jpg);
}
/*.stage-fallback.albums-bg {
	background-image: url(../images/menu.jpg);
}*/
aside {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 25%;
	z-index: 0;
	background-size: cover;
	background-position: center;
	transform: translateZ(0px);
}
@media screen and (min-width: 640px) {
	aside {
		height: 33%;
	}
}
@media screen and (min-width: 1000px) {
	aside {
		position: fixed;
		bottom: auto;
		top: 0;
		height: 100%;
		width: 33%;
		z-index: 2;
	}
}
.slide-scroll-inactive aside {
	display: none;
}
@media screen and (min-width: 1000px) {
	.slide-scroll-inactive aside {
		display: block;
	}
}

cover-bg-slider {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 0;
	overflow: hidden;
}
cover-bg-slider .slide {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
	transition-timing-function: cubic-bezier(0.9, 0, 0.4, 1);
	transform: translateZ(0px);
}
cover-bg-slider .slide .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	transition-timing-function: cubic-bezier(0.9, 0, 0.4, 1);
	transform: translateZ(0px);
	background-size: cover;
	background-position: center;
}
cover-bg-slider .slide:first-child {
	z-index: 1;
}
cover-bg-slider .slide:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #252525;
	z-index: 1;
	opacity: 0;
	transition: opacity 0s linear;
}
cover-bg-slider .slide.hidden {
	pointer-events: none;
}
cover-bg-slider .slide.hidden:before {
	opacity: 0.5;
	transition: opacity 0.8s linear;
}
cover-slider .slide.hidden {
	pointer-events: none;
}

.cover .cover-img {
	position: absolute;
	top: -30px;
	bottom: 20px;
	left: 20px;
	right: 20px;
	z-index: 1;
}
@media screen and (min-width: 640px) {
	.cover .cover-img {
		top: -60px;
		bottom: 40px;
		left: 13%;
		right: 13%;
	}
}
@media screen and (min-width: 1000px) {
	.cover .cover-img {
		top: 13%;
		bottom: 13%;
	}
}
.cover proportional-height {
	display: block;
	position: absolute;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	left: 0;
	top: 0;
	opacity: 0;
}
@media screen and (min-width: 640px) {
	.cover proportional-height {
		right: 0;
		bottom: 0;
		margin: auto;
	}
}
.cover .cover-img img {
	position: absolute;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}

.section-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 32px;
	box-sizing: border-box;
	color: #252525;
	z-index: 3;
	transform: translateZ(0px);
}
.section-header .left-wrapper {
	position: relative;
	margin-left: 70px;
}
.section-header .time {
	position: absolute;
	left: 75px;
	display: inline-block;
	bottom: -6px;
	display: none;
}
.section-header .time .mn {
	font-size: 29px;
}
.section-header .time .sc {
	font-size: 29px;
}
.section-header .time .ms {
	font-size: 14px;
}
.section-header .close {
	position: absolute;
	left: 0;
	top: 0;
}
@media screen and (min-width: 640px) {
	.section-header {
		padding-top: 52px;
	}
	.section-header .time {
		display: block;
	}
	.section-header .left-wrapper {
		margin-left: 90px;
	}
}
@media screen and (min-width: 1000px) {
	.section-header {
		padding-top: 53px;
	}
	.section-header .left-wrapper {
		margin-left: 10%;
	}
}

.beat {
	position: relative;
	color: #252525;
}

slide-scroll .left-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 40px);
	height: 75%;
}
slide-scroll.scroll-mode .left-wrapper {
	height: 100%;
}
slide-scroll .slide-content  {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	display: table;
	box-sizing: border-box;
	margin-right: 50px;
}
slide-scroll .slide-inner {
	display: table-cell;
	vertical-align: middle;
}
@media screen and (min-width: 640px) {
	slide-scroll .slide-content {
		max-width: 600px;
		margin-right: 150px;
	}
	slide-scroll.scroll-mode .slide-content {
		position: relative;
		top: 0;
	}
	slide-scroll .left-wrapper {
		width: calc(100% - 80px);
	}
}
@media screen and (min-width: 1000px) {
	slide-scroll .left-wrapper {
		height: 100%;
		width: 57%;
	}
}
.slide-content h1 {
	margin-bottom: 4px;
}
.slide-content .nfo {
	display: block;
	margin-bottom: 20px;
	line-height: 1.2;
}
.slide-content .nt {
	margin-bottom: 5px;
}
print-slider div,
text-print div {
	height: 16px;
}

.arr {
	right: -11px;
	width: 45px;
	height: 45px;
	position: absolute;
	transition: opacity 0.2s;
}
.arr.inactive {
	opacity: 0.2;
	cursor: default;
}

.arr .ico {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 18px;
	height: 16px;
	transform: translateZ(0px);
}
.arr .ico svg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	fill-rule: evenodd;
	stroke: #ffffff;
	stroke-width: 2px;
	fill: none;
}
.arr.a-b .ico {
	transform: rotate(180deg) translateZ(0px);
}
.arr.dark .ico svg {
	stroke: #252525;
}

.arr.a-t {
	top: calc(50% - 90px);
}
.arr.a-b {
	top: calc(50% + 50px);
}
/*.arr:hover:not(.inactive) {
	animation: blink 0.1s 2;
	-webkit-animation: blink 0.1s 2;
}*/
@keyframes fill-blink {
	0% {
		opacity: 0;
	 	fill: transparent;
	}
	33% {
		opacity: 0;
		fill: transparent;
	}
	66% {
		opacity: 1;
		fill: #ffffff;
	}
	100% {
		opacity: 1;
		fill: #ffffff;
	}
}
@keyframes fill-blink-black {
	0% {
		opacity: 0;
	 	fill: transparent;
	}
	33% {
		opacity: 0;
		fill: transparent;
	}
	66% {
		opacity: 1;
		fill: #252525;
	}
	100% {
		opacity: 1;
		fill: #252525;
	}
}
.arr:hover:not(.inactive) .cls-3,
.arr:hover:not(.inactive) .cls-2 {
	animation: fill-blink 0.07s 2;
	-webkit-animation: fill-blink 0.07s 2;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.page-wrapper[data-scheme="bright"] .arr:hover:not(.inactive) .cls-3,
.page-wrapper[data-scheme="bright"] .arr:hover:not(.inactive) .cls-2 {
	animation: fill-blink-black 0.07s 2;
	-webkit-animation: fill-blink-black 0.07s 2;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}



.section-aside {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	height: 0;
	z-index: 3;
	transform: translateZ(0px);

}
.section-aside .inner {
	position: absolute;
	right: 0;
	height: 100vh;
}
.section-aside .all {
	position: absolute;
	top: calc(50% - 22px);
	right: -11px;
	width: 45px;
	height: 45px;
}
.section-aside .all .b {
	position: absolute;
	width: 2px;
	height: 11px;
	background: #252525;
	bottom: 14px;
	left: 0;
}
.section-aside .all .b:before {
	content: "";
	position: absolute;
	width: 2px;
	height: 3px;
	top: -5px;
	left: 0;
	background: #252525;
}
.section-aside .all .b1 {
	left: 16px;
}
.section-aside .all .b2 {
	left: 21px;
}
.section-aside .all .b3 {
	left: 26px;
}
.section-aside .arr {
	right: -11px;
}

.beat-aside {
	color: #252525;
}

@media screen and (min-width: 1000px) {
	.beat-aside .inner {
		position: absolute;
		right: 19.5%;
		height: 100vh;
	}
	.beat-aside .arr.a-t {
		top: calc(50% - 150px);
	}
	.beat-aside .arr.a-b {
		top: calc(50% + 105px);
	}
}

.section-footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: 1;
	bottom: calc(25% + 54px);
	z-index: 3;
}
.beat-footer .buy,
.price-nfo .buy {
/*	font-size: 23px;
	letter-spacing: -0.05em;*/
	margin-right: 25px;
}
.beat-footer .price,
.price-nfo .price {
	display: inline-block;
	font-size: 23px;
	letter-spacing: -0.05em;
}
.price-nfo {
	margin-bottom: 10px;
	margin-top: 10px;
}
@media screen and (min-width: 640px) {
	.section-footer {
		bottom: calc(33% + 104px);
	}
/*	.beat-footer .buy,
	.price-nfo .buy {
		font-size: 29px;
		margin-right: 43px;
	}*/
	.beat-footer .price,
	.price-nfo .price {
		font-size: 29px;
	}
	.price-nfo {
		margin-bottom: 20px;
		margin-top: 20px;
	}
}
@media screen and (min-width: 1000px) {
	.price-nfo {
		margin-top: 15px;
	}
	.section-footer {
		bottom: 57px;
	}
}
@media screen and (min-width: 1400px) {
	.price-nfo {
		margin-top: 10px;
	}
}

.slide-scroll-inactive .beat-footer {
	display: none;
}

.general-slide {
	position: relative;
	color: #ffffff;
}
.general-footer .left-wrapper,
.general-slide .left-wrapper {
	margin-left: 20px;
}
.general-header {
	padding-top: 22px;
	line-height: 1.3;
	color: #ffffff;
}
.general-header .left-wrapper {
	margin-right: 70px;
}
/*.scroll-mode .general-slide .slide-content {
	top: calc(39px + 10%);
}*/
@media screen and (min-width: 640px) {
	.general-header,
	.video-header {
		padding-top: 52px;
	}
	.general-header .left-wrapper,
	.general-footer .left-wrapper,
	.general-slide .left-wrapper {
		margin-left: 17.5%;
		margin-right: 40px;
	}
	.scroll-mode .general-header .left-wrapper,
	.scroll-mode .general-footer .left-wrapper,
	.scroll-mode .general-slide .left-wrapper {
		margin-left: 40px;
		margin-right: 40px;
	}
}
@media screen and (min-width: 1000px) {
	.general-header .left-wrapper,
	.general-footer .left-wrapper,
	.general-slide .left-wrapper,
	.scroll-mode .general-header .left-wrapper,
	.scroll-mode .general-footer .left-wrapper,
	.scroll-mode .general-slide .left-wrapper {
		margin-left: 17.5%;
		margin-right: 33%;
	}
	.general-header {
		padding-top: 54px;
	}
/*	.general-slide .slide-content {
		top: calc(55px + 26%);
	}
	.scroll-mode .general-slide .slide-content {
		top: calc(26% - 55px);
	}*/
}
.general-aside {
	z-index: 5;
}
.general-aside .general-index {
	display: none;
}
.general-aside .albums-index:before {
	display: inline;
	content: "#a"
}
.general-aside .video-index:before {
	display: inline;
	content: "#v"
}

@media screen and (min-width: 1000px) {
	.general-asidee {
		right: auto;
		left: 0;
	}
	.general-aside .inner  {
		right: auto;
		left: 0;
	}
	.general-aside .general-index {
		position: absolute;
		display: block;
		top: 54px;
		left: 0;
	}
	.general-aside .arr {
		right: auto;
		left: -11px;
	}
	.general-aside .arr.a-t {
		top: auto;
		bottom: 115px;
	}
	.general-aside .arr.a-b {
		top: auto;
		bottom: 44px;
	}
}
.general-footer {
	padding-bottom: 5px;
}
.general-footer .btn,
.slidescroll-fallback .btn {
	display: inline-block;
	margin-right: 20px;
}
@media screen and (min-width: 640px) {
	.general-footer .btn,
	.slidescroll-fallback .btn {
		margin-top: 0px;
		margin-right: 55px;
	}
}
@media screen and (min-width: 1000px) {
	.general-footer {
		padding-bottom: 0;
	}
}

.albums .nfo .price {
	font-size: 19px;
}
@media screen and (min-width: 640px) {
	.albums .nfo .price {
		font-size: 29px;
	}
}

.general-slide .data-text {
	margin-bottom: 20px;
}
.slide-scroll-inactive .general-header {
	display: none;
}
.slide-scroll-inactive .general-footer {
	display: none;
}
.slide-scroll-inactive .albums .nfo {
	margin-top: 20px;
}


video-slider {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
video-slider .slide {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	background-position: center;
	transition: all 0.8s;
	transform: translateZ(0px);
	overflow: hidden;
}
video-slider .slide .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-position: center;
	background-size: cover;
}
video-slider .slide.to-top {
	opacity: 0;
	transform: translateY(-10px);
}
video-slider .slide.to-bottom {
	opacity: 0;
	transform: scale(1.02) translateY(10px);
}
.video-popup iframe {
	width: 100%;
	height: 100%;
}

.album-header {
	color: #ffffff;
}
.album-header .left-wrapper {

}
@media screen and (min-width: 1000px) {
	.album-header .left-wrapper {
		margin-left: 54%;
	}
}
.album {

}

.slide-controls {
	margin-top: 35px;
}
.scroll-mode .slide-controls {
	display: none;
}
.slide-controls .btn {
	margin-bottom: 20px;
	margin-right: 25px;
	transition: opacity 0.2s;
}
.slide-controls .btn.inactive {
	opacity: 0.7;
	cursor: default;
	pointer-events: none;
}

@media screen and (min-width: 1000px) {
	.slide-controls {
		margin-top: 55px;
	}
	.album .left-wrapper {
		margin-left: 54%;
		margin-right: 10%;
		width: 36%;
	}
}
.album .slide-content {
	margin-right: 0;
}
.album-footer {
	width: 100%;
	bottom: 90px;
	margin-right: 100px;
}
/*.scroll-mode .album .slide-content {
	top: calc(83px + 10%);
}*/
@media screen and (min-width: 1000px) {
	.album-footer .left-wrapper {
		margin-left: 54%;
		margin-right: 10%;
	}
}

.album-footer .l,
.slidescroll-fallback .l {
	min-width: 165px;
	margin-bottom: 8px;
}
.slidescroll-fallback:after {
	content: "";
	display: table;
	clear: both;
}
@media screen and (min-width: 640px) {
	.album-footer {
		bottom: 115px;
		margin-right: 0px;
	}
	.album-footer .l,
	.slidescroll-fallback .l {
		float: left;
		margin-right: 55px;
		margin-bottom: 0;
	}
	.album-footer .r,
	.slidescroll-fallback .r {
		float: left;
	}
}
@media screen and (min-width: 1000px) {
	.album-footer {
		bottom: 57px;
	}
}

.album-footer .r .btn,
.slidescroll-fallback .r .btn {
	margin-bottom: 18px;
}
.slide-scroll-inactive .album-footer {
	display: none;
}

.album-back {
	position: fixed;
	left: 20px;
	bottom: 17px;
	z-index: 5;
}
@media screen and (min-width: 640px) {
	.album-back {
		left: 40px;
		bottom: 45px;
	}
}
@media screen and (min-width: 1000px) {
	.album-back {
		left: 10%;
		bottom: 57px;
	}
}

.album-all {
	position: fixed;
	top: 32px;
	right: 80px;
	z-index: 4;
	z-index: 4;
}
@media screen and (min-width: 640px) {
	.album-all {
		left: auto;
		top: 46px;
		right: 100px;
	}
}
@media screen and (min-width: 1000px) {
	.album-all {
		position: fixed;
		right: auto;
		top: 53px;
		left: 10%;
	}
}

.tracks-list {
	display: block;
}

.merch-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #101010;
}
.merch-aside {
	position: fixed;
	left: 0;
	width: 100%;
	height: 0;
	z-index: 100;
	display: none;
}
@media screen and (min-height: 550px) {
	.merch-aside {
		display: block;
	}
}
slide-scroll .slide-content.merch-content {
	position: absolute;
	width: 100%;
	height: calc(50% - 50px);
	top: 50px;
	margin-right: 0;
	max-width: 100%;
}
slide-scroll .slide-content.merch-content.r {
	top: 50%;
	height: 50%;
}

.merch .left-wrapper {
	height: 100%;
}
@media screen and (min-width: 640px) {
	slide-scroll .slide-content.merch-content.l {
		left: 0;
		top: 0;
		height: 100%;
		width: 50%;
	}
	slide-scroll .slide-content.merch-content.r {
		left: 55%;
		top: 0;
		height: 100%;
		width: 50%;
	}
	slide-scroll .slide-content.merch-content.r .slide-inner {}
}
@media screen and (min-width: 1000px) {
	.merch .left-wrapper {
		width: 80%;
	}
}
.merch .price-nfo,
.merch-item .price-nfo {
	font-size: 23px;
}
@media screen and (min-width: 640px) {
	.merch .price-nfo,
	.merch-item .price-nfo {
		font-size: 29px;
	}
}
.merch-bg {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 0;
}
merch-slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
merch-slider .l,
merch-slider .r {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 50%;
}
merch-slider .r {
	top: 50%;
}
@media screen and (min-width: 640px) {
	merch-slider .l,
	merch-slider .r {
		left: 0;
		top: 0;
		width: 50%;
		height: 100%;
	}
	merch-slider .r {
		left: 50%;
	}
}
merch-slider .slide {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
}
merch-slider .img {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-image: #101010;
}

.merch-popup {
	background: #101010;
}
.merch-popup .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	background-position: center;
}
.merch-item {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 10;
	color: #ffffff;
}
.merch-item .btn {
	color: #ffffff;
}
.merch-item .wrapper {
	position: relative;
	height: 100%;
}
@media screen and (min-width: 1000px) {
	.merch-item .wrapper {
		margin-left: 54%;
	}
}
.merch-item .section-footer {
	bottom: 18px;
}
@media screen and (min-width: 640px) {
	.merch-item .section-footer {
		bottom: 36px;
	}
}
@media screen and (min-width: 1000px) {
	.merch-item .section-footer {
		bottom: 57px;
	}
}


.merch-item .sizes {
	font-size: 14px;
	margin-bottom: 10px;
	margin-left: -14px;
}
.merch-item .sizes {
	margin-bottom: 50px;
}
.slide-scroll-inactive .merch-item .sizes {
	margin-bottom: 10px;
}
.merch-item .sizes .item {
	position: relative;
	display: inline-block;
	margin-right: 20px;
	width: 45px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	cursor: pointer;
	color: #ffffff;
	transition: color 0.1s;
}
.merch-item .sizes .item span {
	position: relative;
}
.merch-item .sizes .item span:before {
	content: "";
	left: -11px;
	right: -11px;
	height: 30px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: -1;
	background: #ffffff;
	opacity: 0;
	transition: opacity 0.1s;
}
.merch-item .sizes .item:hover,
.merch-item .sizes .item.active {
	color: #101010;
}
.merch-item .sizes .item:hover span:before,
.merch-item .sizes .item.active span:before {
	opacity: 1;
}

.merch-item .outer {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: table;
}
.merch-item .cell {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}
.merch-item .fake-btn {
	height: 17px;
}

.merch-popup .slide-content {
	opacity: 0;
	transform: translateX(-10px);
	transition: all 0.3s ease 0.6s;
}
.merch-popup.active .slide-content {
	opacity: 1;
	transform: translateX(0px);
	transition: all 0.6s ease 0.3s;
}
.merch-popup .section-footer {
	opacity: 0;
	transform: translateX(-10px);
	transition: all 0.3s ease 0.3s;
}
.merch-popup.active .section-footer {
	opacity: 1;
	transform: translateX(0px);
	transition: all 0.6s ease 0.5s;
}
/*.slide-scroll-inactive .merch-item .section-footer {
	display: none;
}*/

slide-scroll {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: 1;
}
slide-scroll .slide-scroll-wrapper {
	position: relative;
	min-height: 100%;
	width: 100%;
}
/*slide-scroll .left-wrapper {
	position: absolute;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
}*/
/*slide-scroll .js-slide {
	height: 460px;
	position: relative;
}*/
/*@media screen and (min-width: 640px) {
	slide-scroll .js-slide {
		height: 640px;
	}
}
@media screen and (min-width: 1000px) {
	slide-scroll .js-slide {
		z-index: 0;
		height: 600px;
	}
}
@media screen and (min-width: 1400px) {
	slide-scroll .js-slide {
		height: 540px;
	}
}
@media screen and (min-width: 1800px) {
	slide-scroll .js-slide {
		height: 720px;
	}
}*/



slide-scroll {
	display: block;
	position: relative;
	overflow: visible;
	-webkit-overflow-scrolling: touch
}
slide-scroll.slide-mode {
	position: absolute;
	overflow: hidden;
	-webkit-overflow-scrolling: auto
}
slide-scroll .slide-scroll-wrapper {
	transition-timing-function: cubic-bezier(0.9, 0, 0.4, 1);
}
slide-scroll.slide-mode .js-slide {
	z-index: 2;
}
slide-scroll.slide-mode .js-slide.slide-next,
slide-scroll.slide-mode .js-slide.slide-previous {
	z-index: 0;
}
slide-scroll.slide-mode .js-slide .left-wrapper {
	opacity: 1;
	z-index: 1;
	transition: opacity 0.3s ease 0.6s;
}
slide-scroll.slide-mode .js-slide.slide-next .left-wrapper,
slide-scroll.slide-mode .js-slide.slide-previous .left-wrapper {
	opacity: 0;
	z-index: 0;
	transition: opacity 0.4s ease;
}

.slide-scroll-active .slidescroll-fallback {
	display: none;
}
.slide-scroll-inactive .slidescroll-fallback {
	display: block;
}
.all-tracks {
	padding-left: 0;
	padding-top: 90px;
	padding-bottom: 90px;
}
.all-tracks .tracks-group {
	margin-bottom: 60px;
	text-align: left;
}
.all-tracks .tracks-group:last-child {
	margin-bottom: 0;
}
.all-tracks .track {
	cursor: pointer;
}
.all-tracks .track span {
	position: relative;
	padding-left: 37px;
}
.all-tracks .track span:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background: #ffffff;
	opacity: 0.7;
	transition: all 0.2s;
}
@media screen and (min-width: 1000px) {
	.all-tracks-popup .popup-inner {
		text-align: left;
	}
	.all-tracks {
		padding-top: 95px;
		padding-bottom: 95px;
	}
}
.all-tracks .track {
	position: relative;
	transition: opacity 0.3s, margin 0.2s;
	opacity: 1;
}
.all-tracks .track:not(.active):hover {
	transition: opacity 0.2s;
	opacity: 0.6;
}
.all-tracks .track.active {
	margin-bottom: 8px;
	transition: margin 0.2s;
	cursor: default;
}
.all-tracks .track.active span:after {
	width: 100%;
}
.all-tracks .track.active:before {
	opacity: 0;
}
.all-tracks audio-visual {
	position: absolute;
	bottom: 0px;
	width: 18px;
	height: 17px;
	opacity: 0;
	transition: opacity 0.2s;
}
.all-tracks .track.active audio-visual {
	opacity: 0.7;
}
.all-tracks audio-visual .bar {
	position: absolute;
	bottom: 0;
	width: 6px;
	height: 100%;
	background: #ffffff;
	transform: scaleY(0);
	transform-origin: 50% 100%;
}

.csstransitions .all-tracks {
	opacity: 0;
	transform: translateX(10px);
	transition: all 0.3s ease 0.3s;
}
.csstransitions popup-component.active .all-tracks {
	transition: all 0.6s ease 0.2s;
	opacity: 1;
	transform: translateX(0px);
}


h1 .wd {
	position: relative;
}
h1 .wd,
h1 .wd-inv {
	white-space: nowrap;
}
h1 .wd-inv {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	color: #101010;
	opacity: 0;
	transition: opacity 0.1s;
}
h1 .wd-inv:before {
	content: "";
	position: absolute;
	left: -0.1em;
	right: -0.1em;
	top: 0;
	bottom: 0;
	background: #ffffff;
	z-index: -1;
	pointer-events: none;
}
.page-wrapper[data-scheme="bright"] h1 .wd-inv {
	color: #ffffff;
}
.page-wrapper[data-scheme="bright"] h1 .wd-inv:before {
	background: #101010;
}


.license {
	padding-top: 90px;
	padding-bottom: 90px;
}
.license h3 {
	margin-bottom: 10px;
}
.license p {
	margin-bottom: 15px;
}
.license .item {
	display: block;
	max-width: 450px;
	margin-bottom: 50px;
	opacity: 0.6;
	cursor: pointer;
	transition: opacity 0.1s;
}
.license .item:hover {
	opacity: 1;
}
.license .item:last-child {
	margin-bottom: 0;
}
.csstransitions .license {
	transform: translateX(10px);
	opacity: 0;
	transition: all 0.3s ease 0.3s;
}
.csstransitions .license-popup.active .license {
	transform: translateX(0px);
	opacity: 1;
	transition: all 0.6s ease 0.2s;
}


cart-component {
	display: block;
	padding-top: 90px;
	padding-bottom: 90px;
	font-size: 12px;
}
@media screen and (min-width: 1000px) {
	.cart-popup .wrapper {
		width: 91.6%;
	}
	cart-component {
		margin-left: 50%;
		padding-top: 95px;
		padding-bottom: 95px;
	}
}
cart-component .inner {
	margin-left: 0px;
}
@media screen and (min-width: 640px) {
	cart-component .inner {
		margin-left: 0px;
	}
}
@media screen and (min-width: 1000px) {
	cart-component .inner {
		margin-left: 50px;
	}
}
cart-component .item {
	display: block;
	margin-bottom: 45px;
}
cart-component .item:last-child {
	margin-bottom: 0;
}
cart-component .item:after {
	content: "";
	display: table;
	clear: both;
}
cart-item {
	position: relative;
}
cart-item .img {
	float: left;
	margin-right: 18px;
}
cart-item img {
	display: block;
	width: 68px;
}
cart-item .l {
	float: left;
	padding-top: 13px;
	width: calc(100% - 186px);
	max-width: 150px;
}
cart-item .r {
	float: right;
	padding-top: 13px;
	width: 80px;
	text-align: right;
	margin-right: 20px;
}
cart-item .type {
	margin-bottom: 15px;
}
cart-item .r .t {
	margin-bottom: 15px;
}
cart-item .remove {
	position: absolute;
	right: -28px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 45px;
	height: 45px;
	cursor: pointer;
	z-index: 10;
}
cart-item .remove:before,
cart-item .remove:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 12px;
	height: 2px;
	background: #ffffff;
}
cart-item .remove:before {
	transform: rotate(45deg);
}
cart-item .remove:after {
	transform: rotate(-45deg);
}

audio-progressbar {
	position: fixed;
	width: 100%;
	height: 8px;
	top: 0;
	left: 0;
	z-index: 1;
}
audio-progressbar .ac {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #252525;
	transform-origin: 0 50%;
	transform: scaleX(0);
}

popup-component {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	z-index: 50;
	transform: translateZ(0px);
	overflow: hidden;
}
popup-component .popup-outer {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch
}

popup-component .popup-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}
popup-component .popup-cell {
    display: table-cell;
    vertical-align: middle;
    table-layout: fixed;
}
popup-component {
	width: 0;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.4s ease 0s, transform 0.4s ease 0s, width 0s ease 0.4s;
}
popup-component.active {
	width: 100%;
	opacity: 1;
	pointer-events: auto;
	transition: opacity 0.2s ease 0s, transform 0.2s ease 0s, width 0s ease 0s;
}

page-transition {
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10000;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	width: 0;
	opacity: 0;
	transition: opacity 0.4s linear 0s, transform 0.4s ease 0s, width 0s linear 0.4s;
	background: #101010;
}
.no-touchevents.webgl page-transition {
	background: none;
}
page-transition.active {
	width: 100%;
	opacity: 1;
	transition: opacity 0.2s linear 0s, transform 0.2s ease 0s, width 0s linear 0s;
}

preloader-component {
	position: fixed;
	z-index: 10000;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #101010;
	transition: opacity 0.6s linear;
	transform: translateZ(0px);
	display: none;
}
/*.webgl preloader-component.loading {
	background: none;
}*/
preloader-component canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.csstransitions preloader-component {
	display: block;
}

preloader-component.hidden {
	opacity: 0;
}
preloader-component .wrapper {
	position: relative;
	height: 100%;
}
preloader-component .text {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 52px;
	margin: auto;
}
preloader-component .loaded-text {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	opacity: 0;
	font-size: 25px;
	transform: translateZ(0px);
}
preloader-component .perc {
	position: relative;
	font-size: 25px;
	opacity: 1;
	transition: opacity 0.2s;
	transform: translateZ(0px);
	z-index: 10px;
	opacity: 0;
	margin-bottom: 5px;
}
preloader-component.loading .perc {
	opacity: 1;
}
preloader-component.loaded .perc {
	opacity: 0;
}
preloader-component.loaded .loaded-text {
	transition: opacity 0.2s;
	opacity: 1;
}
preloader-component .loaded-text:after {
	content: "";
	position: relative;
	display: inline-block;
	width: 18px;
	height: 25px;
	top: 4px;
	left: 2px;
	background: #ffffff;
	box-shadow: 0 0 3px #ffffff;
	transform: translateZ(0px);
	line-height: 25px;
	z-index: 20;
}
preloader-component .loaded-text.no-animation:after {
	animation: blink 0.5s 2 alternate;
	-webkit-animation: blink 0.5s 2 alternate;
}
preloader-component .nt {
	opacity: 0;
	transform: translateY(5px);
}
preloader-component.loading .nt {
	opacity: 1;
	transform: translateY(0px);
	transition: all 0.6s;
}
@media screen and (min-width: 640px) {
	preloader-component .text {
		height: 81px;
	}
	preloader-component .loaded-text,
	preloader-component .perc {
		font-size: 50px;
		margin-bottom: 4px;
	}
	preloader-component .loaded-text:after {
		height: 52px;
		width: 34px;
		top: 7px;
		line-height: 50px;
	}
}
@media screen and (min-width: 1000px) {
	preloader-component .text {
		height: 90px;
	}
	preloader-component .loaded-text,
	preloader-component .perc {
		font-size: 60px;
		margin-bottom: 1px;
	}
	preloader-component .loaded-text:after {
		height: 59px;
		width: 37px;
		top: 7px;
		line-height: 60px;
	}

}

full-img {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
	contain: strict;
}
full-img img {
	position: absolute;
	top: 0;
	left: 0;
}

/*.slide-content h1 {
	transform: translateY(-20px);
	transition: all 0.8s ease-out;
}
.preload-complete .slide-content h1 {
	transform: translateY(0px);
}*/